.footer_section {
    background-color: #78cffd;
    padding: 20px 0;
    font-family: "Roboto", sans-serif;
  }
  
  .footer_section p {
    color: #fff;
    margin: 0;
    text-align: center;
  }
  
  .footer_section a {
    color: #fff;
  }