
.contact_section .col-md-6 {
    padding: 0;
  }
  
  .contact_form-container {
    padding: 60px;
    background-color: #78cffd;
    position: relative;
  }
  
  .contact_form-container form {
    width: 100%;
  }
  
  .contact_form-container form input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
  
    background-color: #fcfcfc;
    margin: 10px 0;
  }
  
  .message_input {
    height: 100px;
  }
  
  .contact_form-container button {
    border: none;
    display: inline-block;
    padding: 8px 40px;
    background-color: #0a0057;
    color: #fff;
  
    margin-top: 20px;
  }
  
  
  .contact_form-container::before {
    content: "";
    width: 50px;
    height: 50px;
    background-color: #78cffd;
    position: absolute;
    left: -50px;
    top: 15%;
  }
  #map{
    margin-left: 5rem;
  }
  